<div class="contenedor">
    <div class="contenedor_tarjetas">

        <div class="prueba">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Nombre del Producto</mat-card-title>
                </mat-card-header>
                <img class="imagen" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <p class="precio">
                    Precio
                </p>
                <div>
                    <button mat-raised-button color="primary">Agregar</button>
                </div>
            </mat-card>
        </div>



    </div>
</div>