@import "../../../../../styles.scss";

.contenedor {
    background-image: url(../../../../../assets/perritoCrear.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    &__titulo {
        font-size: 36px;
        margin-right: 9%;
        margin-bottom: 30px;
    }
}

.contenedorCrearUsuario {
    opacity: 0.9;
    margin-right: 15%;
    background: $fondo;
    border-radius: 15px;
    font-size: 18px;
    width: 24%;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 5px 16px 0px $madison, 5px 5px 15px 5px rgba($doveGray, 0);

    &__tituloFormulario {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $limetitulo;
        height: 62px;
        flex-direction: column;
        margin-bottom: 46px;
        border-radius: 10px 10px 0px 0px;
    }
}

.estilosFormularo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    &__items {
        margin-bottom: 10px;
        height: 30px;
        width: 223px;
        border: solid 1px $itemBorde;
        border-radius: 5px;
        &.ng-invalid.ng-touched {
            border: solid 2.5px $selectiveYellow;
            border-radius: 7px;
        }
    }

    &__boton {
        margin-top: 10px;
        margin-bottom: 10px;
        background: $limetitulo;
    }
    &__botonVolver {
        background: $volver;
    }
}
