<div class="contenedor">
    <span class="contenedor__titulo">Bienvenido a Peludos Felices!</span>
    <div class="contenedorCrearUsuario">
        <div class="contenedorCrearUsuario__tituloFormulario"> Crear Tu Usuario</div>
        <form [formGroup]="crearUsuarioFormulario" class="estilosFormularo" (ngSubmit)="enviar()">

            <input class="estilosFormularo__items " id="crear-correo" type="email" formControlName="email"
                placeholder="Email">
            <div *ngIf="crearUsuarioFormulario.controls['email']?.touched && crearUsuarioFormulario.controls['email']?.errors?.['required']"
                appErrorTooltip parent="crear-correo">
                El campo es requerido!
            </div>
            <div *ngIf="crearUsuarioFormulario.controls['email']?.touched && crearUsuarioFormulario.controls['email']?.errors?.['email']"
                appErrorTooltip parent="crear-correo">
                Debe ser de tipo Email!
            </div>
            <input class="estilosFormularo__items" id="crear-password" type="password" formControlName="password"
                placeholder="Contraseña">
            <div *ngIf="crearUsuarioFormulario.controls['password']?.touched && crearUsuarioFormulario.controls['password']?.errors?.['required']"
                appErrorTooltip parent="crear-password">
                La contraseña es requerida !
            </div>
            <div *ngIf="crearUsuarioFormulario.controls['password']?.touched && crearUsuarioFormulario.controls['password']?.errors?.['letraMayuscula']"
                appErrorTooltip parent="crear-password">
                Debe tener una mayuscula!
            </div>
            <div *ngIf="crearUsuarioFormulario.controls['password']?.touched && crearUsuarioFormulario.controls['password']?.errors?.['numero']"
                appErrorTooltip parent="crear-password">
                Debe tener al menos un numero!
            </div>
            <div *ngIf="crearUsuarioFormulario.controls['password']?.touched && crearUsuarioFormulario.controls['password']?.errors?.['caracter']"
                appErrorTooltip parent="crear-password">
                Debe tener al menos un caracter!
            </div>
            <div *ngIf="crearUsuarioFormulario.controls['password']?.touched && crearUsuarioFormulario.controls['password']?.errors?.['tamaño']"
                appErrorTooltip parent="crear-password">
                El tamaño son 6 caracteres !
            </div>

            <div>
                <input class="estilosFormularo__items" id="crear-confirm-password" type="password"
                    formControlName="confirmarPassword" placeholder="Confirmar contraseña">
                <div *ngIf="crearUsuarioFormulario.controls['confirmarPassword']?.touched && crearUsuarioFormulario.controls['confirmarPassword']?.errors?.['required']"
                    appErrorTooltip parent="crear-confirm-password">
                    La contraseña es requerida !
                </div>
                <div *ngIf="crearUsuarioFormulario.controls['confirmarPassword']?.touched && crearUsuarioFormulario?.errors?.['passDiff']"
                    appErrorTooltip parent="crear-confirm-password">
                    las contraseñas no coinciden!
                </div>
            </div>

            <button class="estilosFormularo__boton" type="submit" mat-raised-button
                [disabled]="!crearUsuarioFormulario.valid"> Crear
                Usuario</button>
            <button class="estilosFormularo__botonVolver" routerLink="" mat-raised-button>Volver al Login</button>


        </form>

    </div>

</div>