<div class="contenedor">
    <div class="contenedor_login">
        <img class="imagen" src="../../../../../assets/perritoOk.jpeg">
        <div class="contnedor_formulario">
            <div class="formulario_inicio">

                <span class="titulo_formulario">Bienvenido a Perritos Felices!</span>
                <span class="subtitulo_formulario">Registra tu cuenta</span>


            </div>
            <div class="contenedor_for">
                <form class="formulario">
                    <input class="items" placeholder="Nombre">
                    <input class="items" placeholder="Correo">
                    <input class="items" placeholder="Contraseña">
                    <button mat-raised-button color="primary">Ingresar</button>

                    <p class="crear">¿No estas registrado? <a routerLink="crear">Crear un Usuario</a>.</p>

                    <button mat-button style="padding: 1rem;">
                        <mat-icon style="width: 50px; height:30px" svgIcon="logoGoogle"></mat-icon> Ingresa con Google
                    </button>
                </form>

            </div>
        </div>
    </div>


</div>