@import "../../../../../styles.scss";

.contenedortarjetas {
    display: flex;
    text-align: center;
    background: $blanco;
    flex-direction: column;
    border-radius: 16px;
    margin: 25px 10px;
    border: 1px solid $pinkSwan;
    width: 250px;
}
.contenedorImagen {
    width: 250px;
    margin-top: 15px;
    &__imagenTamaño {
        width: 220px;
        height: 220px;
    }
}

.contenedorInfo {
    display: flex;
    flex-direction: column;
    &__nombre {
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
    }
    &__cantidad {
        margin-bottom: 10px;
        font-weight: 100;
    }
}

.contenedorPrecio {
    display: flex;
    align-items: center;
    justify-content: center;
    &__desde {
        font-size: 15px;
        color: $blouder;
        margin-right: 5px;
    }
    &__precio {
        color: $easternBlue;
        font-size: 25px;
        font-weight: 400;
    }
    &__boton {
        width: 35%;
        margin: 15px 10px;
    }
}

.contenedortarjetasCarro {
    display: flex;
    margin-top: 5%;
    border-bottom: 1px solid #8f8f8f42;
    &__imagenTamaño {
        width: 40%;
    }
}

.contenedorInfoCarro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__nombre {
        color: #999;
        font-family: sans-serif;
        font-size: 15px;
        margin-bottom: 5%;
    }
}
.contenedorPrecioCarro {
    &__precio {
        color: $easternBlue;
        font-family: sans-serif;
        font-size: 23px;
    }
}
.contenedorAcciones {
    width: 93%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contendorCantidades {
    display: flex;
    &__add {
        color: #8f8f8f;
    }
    &__cantidadPedido {
        width: 8%;
        margin: 0px 9px;
    }
    &__remove {
        color: #8f8f8f;
    }
}

.contendorBotones {
    &__botones {
        color: #8f8f8f;
    }
}
