<div class="contenedorGeneral">
    <span class="contenedorGeneral__titulo">Nuestros Productos</span>
    <span class="contenedorGeneral__subtitulo">Los mejores productos del mercado</span>

    <div class="contenedorGeneralTajetas">
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
        <div class="contenedortarjetas">
            <div class="contenedorImagen">
                <img class="contenedorImagen__imagenTamaño"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="contenedorInfo">
                <span class="contenedorInfo__nombre">Nombre del Producto</span>
                <div class="contenedorPrecio">
                    <p class="contenedorPrecio__desde">
                        desde
                    </p>
                    <p class="contenedorPrecio__precio">
                        Precio
                    </p>
                </div>
                <div>
                    <button class="contenedorPrecio__boton" mat-raised-button color="primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>

</div>