@import "../../../../../styles.scss";

.contenedorSubtotal {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__label {
        padding-right: 15px;
        font-size: 18px;
        color: #4b4a4b;
        font-weight: 700;
        &::after {
            content: ": ";
        }
    }
}

.contendorBoton {
    display: flex;
    justify-content: center;
    &__boton {
        margin: 10px 15px;
        width: 65%;
        height: 40px;
        background: $easternBlue;
        color: $blanco;
        border-radius: 30px;
        border: solid 1px;
        font-size: 18px;
    }
}

.contenedorPrecio {
    &__precio {
        color: $easternBlue;
        font-size: 18px;
        font-weight: 700;
    }
}

.contenedorPedidos {
    overflow: scroll;
    height: 75%;
}

.carroVacio {
    color: #999;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}
