.alerta {
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    background: $admiContenProd;
    padding: 7px;
    color: $blanco;

    &::after {
        width: 0px;
        height: 0;
        border-right: 10px solid $admiContenProd;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        right: 98%;
        top: 20%;
        content: "";
        position: absolute;
    }
}
