/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: fuente-perrito;
    src: url(assets/fonts/perritos-font.ttf) format("opentype");
}

@import "./variables.scss";
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
