$madison: #0b325e;
$red: red;
$black: #000;
$alabaster: #fafafa;
$blanco: #fff;
$grayNurse: #f6f7f6;
$quillGray: #e3e3e0;
$madison: #0b325e;
$shark: #222428;
$doveGray: #646464;
$crownOfThorns: #842029;
$cherub: #f8d7da;
$azalea: #f5c2c7;
$jewel: #0f5132;
$edgewater: #d1e7dd;
$Edgewater: #badbcc;
$congressBlue: #084298;
$onahau: #cfe2ff;
$frenchPass: #b6d4fe;
$antiqueBronze: #664d03;
$barleyWhite: #fff3cd;
$buttermilk: #ffecb5;
$sannarino: #3f51b5;
$wildStrawberry: #ff4081;
$mineShaft: #323232;
$tomato: tomato;

.alerta {
    color: $wildStrawberry;
    background: $mineShaft;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    margin-bottom: 10px;
    height: 30px;
    width: 230px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}
