$madison: #0b325e;
$red: red;
$black: #000;
$alabaster: #fafafa;
$blanco: #fff;
$grayNurse: #f6f7f6;
$quillGray: #e3e3e0;
$madison: #0b325e;
$shark: #222428;
$doveGray: #646464;
$crownOfThorns: #842029;
$cherub: #f8d7da;
$azalea: #f5c2c7;
$jewel: #0f5132;
$edgewater: #d1e7dd;
$Edgewater: #badbcc;
$congressBlue: #084298;
$onahau: #cfe2ff;
$frenchPass: #b6d4fe;
$antiqueBronze: #664d03;
$barleyWhite: #fff3cd;
$buttermilk: #ffecb5;
$sannarino: #3f51b5;
$wildStrawberry: #ff4081;
$mineShaft: #323232;
$tomato: tomato;
$azureRadiance: #0575e6;
$resolutionBlue: #021b79;
$limetitulo: #a5ca3f73;
$fondo: #77664578;
$limedAsh: #747d63;
$itemBorde: #588157;
$selectiveYellow: #ffb703;
$volver: #ca9b3f9e;
$admiContenProd: #dea54b;
$easternBlue: #21a6b1;
$earlsGreen: #caac3f;
$anzac: #e0b646;
$aluminium: #a8aeba;
$contForAdmi: #77664578;
$btnAdmi: #394616e0;
$pinkSwan: #c4bcbc;
$blouder: #7d7d7d;
$contenedorProductosMenu: #dea54b38;
@import "src/app/modulos/compartido/directivas/resaltar.directive.scss";
